body{
    background-color: black;
    color: white;
    font-size: 25px;
}
.main{
    text-align: center;
    
}
h1{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 13vh);
    grid-template-rows: repeat(3, 13vh);    
    gap: 5px;   
    max-width: 300px;
    margin: auto;
    
}
.cell{
    color: black;
    background-color: bisque;    
    border: 1px solid rgb(176, 56, 96);
    display: flex;   
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 10px 5px 7px pink;
}
.cell:hover{
    background-color:green;
}
#reset{
    margin-top: 20px;
    padding: 8px;
    background-color: pink;
    border-radius: 5px;
    
}
.display{
    margin-top: 30px;
}


